.main {
    position: relative;
    background-color: #30D5C8;
    height: 10vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;


}

.dark {
    position: relative;
    background-image:linear-gradient(black , rgb(34, 34, 114));
    height: 10vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;  
}

.div1 {
    position: relative;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}

.div2 {
    position: relative;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.img {
    position: relative;
    height: 80%;
    width: 20%;
    border-radius: 20px;
   background-color: red;
    margin-left: 20%;
    background-image: url("https://i.pinimg.com/originals/c9/8c/1e/c98c1eae5bdebd49e3b617ad31cbf198.gif");
    background-size:100px;
    background-position: 50%;
    background-repeat: no-repeat;
    
}

.h1 {

    margin-left: 7%;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-weight: 50;
    
}

.ser1,
.ser2 {
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.ser1 {
    background-color: rgba(134, 129, 129, 0.653);
    padding: 10px;
    color: white;
    margin-left: 5%;
}

.ser2 {
    background-color: rgba(134, 129, 129, 0.653);
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;

}

.day {

    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.night {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.sun {
    height: 80%;
   
}

.h12 {

    letter-spacing: 5px;
}

.tepm {

    font-size: 55px;
}