.main
{
  
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.first,.second,.third,.fouth
{
   height: 25%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.h1
{
  position: relative;
    font-size: 70px;
    color: rgb(255, 111, 0);
}
.iconediv
{
  position: relative;
  font-size: 80px;
}


.h12
{
    position: relative;
    font-size: 40px;
    
}
.h13
{
   position: relative;   
    font-size: 25px;
}
.cold
{
    color: rgb(135, 238, 238);
    position: relative;
    font-size: 70px;
}

