
.lab
{
  position:absolute;
  text-align: center;
  border-radius: 5px;
  color: aliceblue;
  margin-right: 10%; 
  transition-duration: 0.4s;
  letter-spacing: 5px;
}

.lab1
{
    position:absolute;
  background-color: #A020F0;
  width: 70px;
  text-align: center;
  border-radius: 5px;
  color: rgb(255, 255, 255);
    z-index: 2;
     margin-bottom: 3.5%;
     margin-left:-10%;
     transition-duration: 0.4s;
}

.input_city
{ position: relative;
  box-sizing: border-box;
  width: 80%;
  height: 45%;
  border-radius: 5px;
  font-size: 25px;
  border: 2px solid rgb(86, 84, 84);
  background-color: transparent;
  outline: none;
  color:white;
  padding: 10px;
  background-color: rgba(97, 95, 95, 0.412);
}
.input_city:focus
{  
    position:relative;
    border:2px solid #A020F0;
    box-shadow: 0px 0px 20px -5px #A020F0;
    
}
@media(max-width:1000px)
{


.input_city
{
  width: 70%;
  height: 50%;
  font-size: 15px;
  
}
.lab
{
  font-size: 10px;
}

.lab1
{
  width: 50px; 
  font-size: 10px;
  margin-bottom: 5.8%;
  margin-left:-10%;
}


}
@media(max-width:415px)
{
  .input_city
{
  width: 80%;
  height: 40%;
  font-size: 15px;
  
}
.lab
{
  font-size: 5px;
  
}

.lab1
{
  width: 50px; 
  font-size: 10px;
  margin-bottom: 6.8%;
  margin-left:-10%;
}



}